<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-8 offset-2">
    <body>
      <div class="text-center">
        <h3>Edit your Listing</h3>
      </div>
      <form action="/listings/<%= listing._id %>?_method=put" method="post">
        <div class="mb-2">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            class="form-control"
            value="<%=listing.title%>"
          />
        </div>
        <div class="mb-2">
          <label for="description" class="form-label">Description</label>
          <input
            type="text"
            name="listing[description]"
            class="form-control"
            value="<%=listing.description%>"
          />
        </div>
        <div class="mb-2">
          <label for="image" class="form-label">Image Link</label>
          <input
            type="text"
            name="listing[image]"
            class="form-control"
            value="<%=listing.image.url%>"
          />
        </div>
        <div class="row">
          <div class="mb-2 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              class="form-control"
              value="<%=listing.price%>"
            />
          </div>
          <div class="mb-2 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              class="form-control"
              value="<%=listing.country%>"
            />
          </div>
        </div>
        <div class="mb-2">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            value="<%=listing.location%>"
          />
        </div>
        <button class="btn btn-dark mb-2 update-btn" type="submit">Update</button>
      </form>
    </body>
  </div>
</div>
