<% layout('/layouts/boilerplate') %>
<body class="listings-page">
  <!-- <h1 class="listings-title">All Listings</h1> -->
  <div class="filter-bar">
    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-fire"></i></div>
      <div class="filter-text">Trending</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-bed"></i></div>
      <div class="filter-text">Rooms</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-city"></i></div>
      <div class="filter-text">Iconic Cities</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-mountain"></i></div>
      <div class="filter-text">Mountains</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-tractor"></i></div>
      <div class="filter-text">Farms</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-water-ladder"></i></div>
      <div class="filter-text">Amazing Pools</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-campground"></i></div>
      <div class="filter-text">Camping</div>
    </div>

    <div class="filter">
      <div class="filter-icon"><i class="fa-solid fa-snowflake"></i></div>
      <div class="filter-text">Arctic</div>
    </div>

    <div class="form-check-reverse form-switch tax-switch">
      <input
        class="form-check-input tax-switch-btn"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
      <label class="form-check-label tax-switch-text" for="switchCheckDefault">
        Display total after taxes
      </label>
    </div>
  </div>
  <div>
    <% if (query) { %>
    <h3 class="mt-5" style="margin-bottom: -1.5rem;">Showing results for "<%= query %>"</h3>
    <% } %>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-5">
    <% for (let listing of listings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top listing-card-img"
          alt="listing_image"
          style="height: 18rem"
        />
        <div class="card-body listing-card-body">
          <p class="card-text listing-card-text">
            <b><%= listing.title %></b>
            <br />
            &#x20b9;<%= listing.price.toLocaleString('en-IN') %>/night
            <i class="gst-slab">-18% GST</i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
