<% layout('/layouts/boilerplate') %>
<body>
  <div class="text-center page-title">
    <h3><%= listing.title %></h3>
  </div>
  <div class="card show-card">
    <img src="<%= listing.image.url %>" class="card-img" alt="listing-image" />
    <div class="card-body card-details">
      <p class="card-text">
        <br />
        <span class="listing-dec"><%= listing.description %></span>
        <br />
        <span class="listing-price">&#x20b9;<%= listing.price.toLocaleString('en-IN')%>/night</span>
        <br />
        <span class="listing-location"><%= listing.location %></span>
        <br />
        <span class="listing-country"><%= listing.country %></span>
        <br />
      </p>
    </div>
  </div>
  <div class="card-buttons">
    <a href="/listings/<%= listing._id%>/edit" class="edit-btn">Edit</a>
    <form action="/listings/<%= listing._id %>?_method=delete" method="post">
      <button class="dlt-btn">Delete</button>
    </form>
  </div>
  <hr />
  <h3 class="review-title mt-2 mb-3">All reviews</h3>
  <div class="allReviews">
    <% for(review of listing.reviews) {%>
    <div class="review-card">
      <h5 class="card-title">Priyanshu</h5>
      <p class="review-comment"><%= review.comment %></p>
      <p class="review-rating"><%= review.rating %></p>
      <form
        action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
        method="POST"
        style="display: inline"
      >
        <button class="review-delete">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
  <hr />
  <div class="reviews mt-3 mb-4">
    <h4>Leave a review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-2">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" name="review[rating]" id="rating" min="1" max="5" class="form-range" />
      </div>
      <div class="mb-3 mt-2">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="20"
          rows="4"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some Comments!</div>
      </div>
      <button class="review-btn btn">Submit</button>
    </form>
  </div>
</body>
